@page
@model IndexModel



<h2>Happy Halloween!</h2>


@*@Html.Partial("_Form")
    @Html.Partial("_Preview")
    @Html.Partial("_Layout")
    @Html.Partial("_ValidationScriptsPartial")
    @Html.Partial("_Music")*@

<div class="container-fluid">
    <div class="row">
        <div class="card col-sm-6 col-md-6 col-lg-6">
            <img src="~/images/pumkins.jpg" class="img-responsive" />
        </div>
        <div class="entry col-sm-6 col-md-6 col-lg-6">

            @if (Model.isPreviewPage)
            {
                @Html.Partial("_Preview")
            }
            else
            {
                @Html.Partial("_Form")



                @section myScript {
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <script src="~/js/ww-form-character-countdown.js"></script>
                    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


                    <!-- RECAPTCHA API use the site key here-->
                    <script src='https://www.google.com/recaptcha/api.js'></script>

                    <script>
                        $("form").submit(function (ev­e­nt) {
                            alert("I am about to submit the form");
                            var recaptcha = $("#g-recaptcha-response").val­­();
                            if (recaptcha === "6Lc1SjYUAAAAAJUlUdK8W8sLz80ayLOoK-EpbSUv") {
                                event.preventDefault();
                                alert("Please check the recaptcha");
                            }
                        });
                    </script>}
            }

            }

        </div>
    </div>
</div>
